<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <div id = "wrapper">
            <a href="/logout">Logout</a>
            <h1>Hello, {{user.name}}</h1>
            <h3>Your Trip Schedules</h3>
            <table>
                <tr>
                    <th>Destination</th>
                    <th>Travel Start Date</th>
                    <th>Travel End Date</th>
                    <th>Plan</th>
                </tr>
                {% for trip in trips %}
                    <tr>
                        <td><a href = "/travels/destination/{{trip.id}}">{{trip.destination}}</a></td>
                        <td>{{trip.travel_start}}</td>
                        <td>{{trip.travel_end}}</td>
                        <td>{{trip.plan}}</td>
                    </tr>
                {% endfor %}
                {% for join in joins %}
                    <tr>
                        <td><a href = "/travels/destination/{{join.trip_id.id}}">{{join.trip_id.destination}}</a></td>
                        <td>{{join.trip_id.travel_start}}</td>
                        <td>{{join.trip_id.travel_end}}</td>
                        <td>{{join.trip_id.plan}}</td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Other Users' Trip Schedules</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Destination</th>
                    <th>Travel Start Date</th>
                    <th>Travel End Date</th>
                    <th>Do You Want To Join?</th>
                </tr>
                {% for other in others %}
                    <tr>
                        <td>{{other.user_id.name}}</td>
                        <td><a href="/travels/destination/{{other.id}}">{{other.destination}}</a></td>
                        <td>{{other.travel_start}}</td>
                        <td>{{other.travel_end}}</td>
                        <td><a href="/join/{{other.id}}">Join</a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="travels/add">Add Travel Plan</a>
        </div>
    </body>
</html>
